

<div class = 'category'> 

  <h1 align = 'center'>Rails categories</h1>



  

  <div class = 'well well-lg col-xs-8 col-xs-offset-2'>
    
    <h4 align = 'center'>
      <strong> Basic CRUD</strong>
    </h4>
      
    <div class = 'description'>
        Create, Read, Update and Delete actions
    </div>
      
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select CRUD action
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button">Create</button>
        <button class="dropdown-item" type="button">Read</button>
        <button class="dropdown-item" type="button">Update</button>
        <button class="dropdown-item" type="button"><%= link_to 'Delete', root_path %></button>
        
      </div>
    </div>
  </div>
  

  
  <div class = 'well well-lg col-xs-8 col-xs-offset-2'>
    <h4 align = 'center'>
      <strong> Basic CRUD - listing </strong>
    </h4>
    
    <div class = 'description'>
      List all existing entries at index
    </div>
  
  </div>
  
  
</div>