<div class="jumbotron">
  <h1>Creating rails app from scratch</h1>
  <p>Using AWS cloud9</p>
  
  <div class = 'jumbo-btn container'>
    <p><%= link_to 'Rails step by step', category_path, class: 'btn btn-primary btn-lg' %></p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Resources</a></p>
  </div>
  
</div>