@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  margin-bottom: 20px;
}

.jumbotron {
  
}

.jumbotron h1 {
  text-align: center;
}

.jumbotron  {

}

.jumbo-btn {
 text-align: center;
}

.category h1 {
  margin-bottom: 50px;
}

.category h4 {
  font-size: 1.7em ;
}

.category .description {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;

}

.btn-group {
  padding-top: 20px;
}

.footer {
  
}

.footer small {
  float: left;
}

.footer nav {
  float: right;
}

.footer nav ul li {
  float: left;
  margin-left: 15px;
    list-style: none;
}


.step-row {

}

.step-position {
  font-size: 2em;
}

.step-title {
  font-size: 1.7em;
}

.step-description {
  font-size: 1px;
}

.step-btn {
  float: right;
}