<div class = 'container'>
  <footer class = 'footer'>
    <small>
      build ruby site step by step
    </small>
    
    <nav>
      <ul>
        <li>
          <a href = 'https://www.udemy.com'> Udemy </a>
        </li>
        
        <li>
          <a href = 'https://getbootstrap.com'> Bootstrap </a>
        </li>
      </ul>
    </nav>
    
  </footer>
</div> 
